.*~
*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.idea/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx
doc/_build

# Environments
.idea
.env
.venv
env/
log/
venv/
ENV/
env.bak/
venv.bak/
model/

workspace.xml
# pytest specific
.pytest_cache/
